Package: com.gushi.quart17
Name: Quart17
Version: 2.2.3
Architecture: iphoneos-arm64e
Description: Quart-inspired notifications for jailbroken iOS 17
Maintainer: Put_Story
Author: Put_Story
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
